<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bastienleonard.tomate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TrelloLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.trellosetup.SetupActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/setup_label" />
        <activity android:name=".ui.tasks.TasksActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/tasks_label" />
        <activity android:name=".ui.timer.TimerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/timer_label" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="46f49cc69ebe5f0bd7fdbd7ea04f4acf5a59ac60" />
    </application>

</manifest>
